<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player Information</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Player Information</h1>
        </header>
        {% if player_info %}
            <div class="player-details">
                <h2>Player Details</h2>
                <table class="rwd-table">
                    <tr>
                        <th>Attribute</th>
                        <th>Value</th>
                    </tr>
                    <tr>
                        <td data-th="Username">Username</td>
                        <td>{{ player_info.username }}</td>
                    </tr>
                    <!-- Add more rows for other player statistics -->
                </table>
            </div>

            <p><strong>Total Games Played:</strong> {{ player_info.count.all }}</p>
            <p><strong>Total Wins:</strong> {{ player_info.count.win }}</p>
            <p><strong>Total Losses:</strong> {{ player_info.count.loss }}</p>
            <p><strong>Total Draws:</strong>  {{ player_info.count.draw }}</p>
            <p><strong>View Profile on Lichess:</strong> <a href="{{ player_info.url }}">Click Here</a></p>
        
        <!-- Display the pie chart -->
        <h2>Win/Draw/Loss Pie Chart</h2>
        <img src="/{{ plot_filename }}" alt="Win/Draw/Loss Pie Chart">

        <!-- Display the white game results bar chart -->
        <h2>White Game Results Bar Chart</h2>
        <img src="/{{ bar_plot_filename }}" alt="White Game Results Bar Chart">
        <!-- Display the First move results bar chart -->
        <h2>First move, White Bar Chart</h2>
        <img src="/{{ bar_chart_first_move_white }}" alt="First move, White Bar Chart">
        <!-- Display the First move results bar chart -->
        <h2>First move, Black Bar Chart</h2>
        <img src="/{{ bar_chart_first_move_black }}" alt="First move, Black Bar Chart">
        <!-- Rating over time -->
        <h2>Rating over time</h2>
        <img src="/{{ rating_plot }}" alt="Rating over time">

    {% else %}
        <p>Failed to retrieve player information.</p>
    {% endif %}
</body>
</html>
