<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player Information</title>
</head>
<body>
    <h1>Player Information</h1>
    {% if player_info %}
        <p><strong>Username:</strong> {{ player_info.username }}</p>
        <!-- Display other player information as before -->
        
        <h2>Win Percentages</h2>
        <p><strong>Win Percentage with White:</strong> {{ "%.2f"|format(win_percentage_white) }}%</p>
        <p><strong>Draw Percentage with White:</strong> {{ "%.2f"|format(draw_percentage_white) }}%</p>
        <p><strong>Loss Percentage with White:</strong> {{ "%.2f"|format(100 - draw_percentage_white-win_percentage_white) }}%</p>
        
        <p><strong>Win Percentage with Black:</strong> {{ "%.2f"|format(win_percentage_black) }}%</p>
        <p><strong>Draw Percentage with Black:</strong> {{ "%.2f"|format(draw_percentage_black) }}%</p>
        <p><strong>Loss Percentage with Black:</strong> {{ "%.2f"|format(100 - draw_percentage_black-win_percentage_black) }}%</p>

        <p><strong>Total Games Played:</strong> {{ player_info.count.all }}</p>
        <p><strong>Total Wins:</strong> {{ player_info.count.win }}</p>
        <p><strong>Total Losses:</strong> {{ player_info.count.loss }}</p>
        <p><strong>Total Draws:</strong>  {{ player_info.count.draw }}</p>
        <p><strong>View Profile on Lichess:</strong> <a href="{{ player_info.url }}">Click Here</a></p>
        
        <!-- Display the pie chart -->
        <h2>Win/Draw/Loss Pie Chart</h2>
        <img src="{{ plot_filename }}" alt="Win/Draw/Loss Pie Chart">

        <!-- Display the white game results bar chart -->
        <h2>White Game Results Bar Chart</h2>
        <img src="{{ bar_plot_filename }}" alt="White Game Results Bar Chart">
        <!-- Display the First move results bar chart -->
        <h2>First move, White Bar Chart</h2>
        <img src="{{ bar_chart_first_move_white }}" alt="First move, White Bar Chart">
        <!-- Display the First move results bar chart -->
        <h2>First move, Black Bar Chart</h2>
        <img src="{{ bar_chart_first_move_black }}" alt="First move, Black Bar Chart">

    {% else %}
        <p>Failed to retrieve player information.</p>
    {% endif %}
</body>
</html>
